.jumbotron {
  background-color: #d6e9f8;
  padding-top: 6rem;
  Text-shadow: 0.5px 0.5px 0.1px whitesmoke;
}

#gallery {
  background-color: #d6e9f8;
}

a:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

img {
  background-image: url("/img/Unsplash/profile.jpg");
}
nav {
  font-family: Serif;
  Text-shadow: 0.5px 0.5px 0.1px black, 1.1px 1.2px 0.5px white;
}
h3, h2, h1 {
  Text-shadow: 0.8px 0.8px 0.2px whitesmoke, 1.1px 1.2px 0.5px black;
  font-family: Serif;
}
.text-info {
  text-shadow: 0,9px 0,9px 0,5px black;
}